apiVersion: v1
kind: Pod
metadata:
  name: secret-demo-pod
spec:

  # --------------------------------------
  # 1. Use docker-registry secret to pull image
  # --------------------------------------
  imagePullSecrets:
  - name: docker-reg-secret
  
  containers:
  - name: demo
    image: nginx:1.21.1
    resources:
      requests:
        memory: "256Mi"
        cpu: "1"
      limits:
        memory: "1024Mi"
        cpu: "2.5"
    # --------------------------------------------------------
    # 2. Use secrets as environment variables (key specific)
    # --------------------------------------------------------
    env:
    - name: OPAQUE_USERNAME
      valueFrom:
        secretKeyRef:
          name: opaque-secret
          key: username

    - name: BASIC_AUTH_USER
      valueFrom:
        secretKeyRef:
          name: basic-auth-secret
          key: username

    - name: SSH_PRIVATE_KEY
      valueFrom:
        secretKeyRef:
          name: ssh-key-secret
          key: ssh-privatekey

    # --------------------------------------------------------
    # 3. Import entire Secret as env variables
    # --------------------------------------------------------
    envFrom:
    - secretRef:
        name: opaque-secret

    # --------------------------------------------------------
    # 4. Mount Secrets as volumes
    # --------------------------------------------------------
    volumeMounts:
    - name: opaque-volume
      mountPath: /etc/secrets/opaque
      readOnly: true

    - name: basic-auth-volume
      mountPath: /etc/secrets/basic-auth
      readOnly: true

    - name: ssh-volume
      mountPath: /etc/secrets/ssh
      readOnly: true

    - name: tls-volume
      mountPath: /etc/secrets/tls
      readOnly: true

    - name: sa-token-volume
      mountPath: /etc/secrets/sa-token
      readOnly: true

  # --------------------------------------------------------
  # Volume Definitions
  # --------------------------------------------------------
  volumes:
  - name: opaque-volume
    secret:
      secretName: opaque-secret

  - name: basic-auth-volume
    secret:
      secretName: basic-auth-secret

  - name: ssh-volume
    secret:
      secretName: ssh-key-secret

  - name: tls-volume
    secret:
      secretName: tls-secret

  - name: sa-token-volume
    secret:
      secretName: sa-token-secret
